/* src/index.css or src/App.css */
/* @import "/assets/esri/themes/light/main.css"; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* font-family: "Poppins", sans-serif; */
}

/* Remove default browser styles */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
}

/* Remove anchor underline */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset input & button */
button,
input {
  border: none;
  outline: none;
  background: none;
}

:root {
  --calcite-color-brand: #974dff; /* #282260 */
  --calcite-color-focus: rgb(181, 128, 255);

  --calcite-color-info: rgb(151, 77, 255);

  /* Background */
  /* --calcite-color-background:#fafafa;
  --calcite-color-foreground-1:white;
  --calcite-color-foreground-2:#f6f6f6; */

  /* Text */
  /* --calcite-color-text-1:#2d2d2d;
  --calcite-color-text-2:#666666; */

  /* Border */
  /* --calcite-color-border-1:#d9d9d9; */
}

.accordion-toolbar {
  display: flex;
  gap: 4px;
  padding: 6px;
  border-bottom: 1px solid var(--calcite-color-border-2);
  flex-shrink: 0;
  padding-inline-end: 0px;
  justify-content: flex-end;
}

.body-part {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(105deg, #fff, #ffe4c8);
}
.geometry-table-container {
  display: flex;
  flex-direction: column;
 
}
.geometry-table-toolbar {
  display: flex;
  gap: 6px;
  padding: 4px;
  padding-bottom: 8px;
  

  position: sticky;
  top: 0;
  z-index: 10;

  background: var(--calcite-color-foreground-1);
}


.container {
  position: relative;
  width: 400px;
  height: 460px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  animation: fadeIn 0.8s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container h1 {
  font-size: 32px;
  font-weight: 700;
  margin: -10px 0;
}
.container p {
  font-size: 14.5px;
  margin: 15px 0;
}
form {
  width: 100%;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.map-view {
  width: 100%;
  height: 100vh;
}

.attribute-container {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 340px;
  max-height: 80%;
  z-index: 10;
}

.form-box {
  position: absolute;
  right: 0;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333;

  z-index: 1;
  transition:
    transform 0.6s ease-in-out,
    opacity 0.6s ease-in-out;
  padding: 45px 60px;
}
.input-box input:focus {
  border: 2px solid #ff8d21;
  background: #fff;
  box-shadow: 0 0 5px rgba(255, 141, 33, 0.4);
}

.login.active {
  z-index: 2;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.login.inactive-left {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition:
    transform 0.6s ease-in-out,
    opacity 0.6s ease-in-out,
    visibility 0s 0.6s; /* delay hiding */
}
.register.active {
  z-index: 2;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.register.inactive-right {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition:
    transform 0.6s ease-in-out,
    opacity 0.6s ease-in-out,
    visibility 0s 0.6s; /* delay hiding */
}
.input-box {
  position: relative;
  margin: 25px 0;
}

.input-box input {
  width: 100%;

  height: 42px;
  padding: 13px 50px 13px 40px;
  background: #eee;
  border-radius: 10px;
  border: none;
  outline: none;

  color: #333;
  font-weight: 500;
  font-size: 15px;
}

.input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

.input-box i {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 16px;

  font-size: 18px;
  color: #888;
  opacity: 0.7;
}
.coordinate-input {
  --calcite-color-border-input: transparent;
  --calcite-color-foreground-1: transparent;
  --calcite-color-background: transparent;
  
 
 
}
 


.btn {
  width: 100%;
  height: 48px;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(90deg, #ff8d21, #ffab4d);
  transition: 0.3s ease;
}

.form-box .form-label-login {
  margin-top: 22px;
  margin-bottom: 6px;
  display: block;
}
.form-box .form-label-register {
  margin-top: 30px;
  margin-bottom: 6px;
  display: block;
}

.btn.toggle {
  text-align: center;

  width: 160px;
  height: 36px;
  background: transparent;
  border: 1.8px dashed #f8c493;
  box-shadow: none;
  color: #333333;
  font-size: 13px;

  border-radius: 50px;
  padding: 5px 20px;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn.toggle:hover {
  background: #ffe7d2;
  border-color: #ffb77a;
}

.btn:hover {
  box-shadow: 0 6px 14px rgba(255, 141, 33, 0.4);
}

/* FORM OVERLAY STYLES */
.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(3px);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* was: center */
  border-radius: 16px;
  animation: fadeIn 0.5s ease;
}

.overlay-content {
  text-align: center;
  margin-top: 70px;
  padding: 30px;
  padding-top: 0;
  width: 90%;
  max-width: 350px;
}

.check-icon {
  font-size: 50px;
  color: #31cb41;
  margin-bottom: 20px;
}

.overlay-content h3 {
  color: #333;
  margin-bottom: 15px;
  font-size: 20px;
}

.overlay-content p {
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 15px;
}

.call-info span {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.close-overlay-btn {
  background: linear-gradient(90deg, #ff8d21, #ffab4d);
  color: white;
  border: none;
  padding: 10px 35px;
  border-radius: 28px;
  font-size: 16px;
  cursor: pointer;

  transition: 0.3s;

  position: absolute;
  bottom: 110px;

  /* the button does nt stay at the center of form:  */
  left: 50%; /* move left edge to center */
  transform: translateX(-50%); /* shift left by half width */
}

.close-overlay-btn-logout {
  background: linear-gradient(90deg, #ff8d21, #ffab4d);
  color: white;
  border: none;
  padding: 5px 25px;
  border-radius: 28px;
  font-size: 14px;
  cursor: pointer;

  transition: 0.3s;

  position: absolute;
  top: 10px;

  right: 10px;
}

.close-overlay-btn:hover {
  box-shadow: 0 6px 14px rgba(255, 141, 33, 0.4);
}

/* Make placeholder red when there's an error */
.error-input::placeholder {
  color: #ff4d4d !important;
  opacity: 0.8;
  font-style: italic;
}

/* Normal placeholder color */
.input-box input::placeholder {
  color: #888;
  font-weight: 400;
}

/* Error input styling */
.error-input {
  border: 2px solid #ff4d4d !important;
  background-color: #fff5f5 !important;
}

.error-icon-inside {
  position: absolute;
  right: 250px !important; /* Position left of the user icon */
  color: #ff4d4d !important;
}

/* Force Esri widgets to be visible */
.esri-ui {
  z-index: 1000 !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.feature-panel {
  position: absolute;
  top: 60px;
  right: 15px;
  width: 380px;

  z-index: 100;
  max-height: 50vh;
}
.accordion-content {
  max-height: 30vh;
  overflow-y: auto;
}

calcite-accordion {
  overflow: hidden;
}

.feature-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  background: #f8f8f8;
  border-bottom: 1px solid #e5e5e5;
  color: #323232;
}

.feature-panel-header-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-left: 10px;
}

.panel-close-btn {
  padding: 4px;
  min-width: 32px;
}

.attribute-list {
  overflow: visible;
}

.attribute-row {
  display: grid;

  grid-template-columns: 120px 1fr;

  gap: 10px;

  padding: 10px 14px;

  border-bottom: 1px solid var(--calcite-color-border-3);
}

.attribute-row:hover {
  background: var(--calcite-color-foreground-2);
}

.attribute-name {
  font-weight: 600;

  color: var(--calcite-color-text-2);
}

.attribute-value {
  word-break: break-word;
}

.feature-row:hover {
  background-color: #f8e6d4;
}

.feature-row strong {
  display: block;

  color: #666;

  font-size: 0.9rem;
}

.feature-row span {
  display: block;

  margin-top: 3px;
}

.feature-tabs button {
  flex: 1;
  padding: 6px 20px;
  cursor: pointer;
  background: white;
  color: #ff8d21;
  cursor: pointer;

  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  transition: all 0.2s ease;

  border: none;
  border-right: 1px solid #ff8d21; /* Separator */
  box-sizing: border-box;
}

.feature-tabs button:last-child {
  border-right: none;
}

.feature-tabs button:hover {
  color: white;
  background: #fb9c44;
}

.active-tab {
  font-weight: bold;
}

.feature-panel-body {
  font-family: "Avenir Next", "Helvetica Neue", sans-serif;
  color: #323232;
}

.esri-feature-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  background: white;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  overflow: hidden;
}

.esri-feature-table thead {
  background-color: #f3f3f3;
}

.esri-feature-table th {
  text-align: left;
  font-weight: 600;
  padding: 8px 10px;
  border-bottom: 1px solid #ccc;
  color: #4c4c4c;
}

.esri-feature-table td {
  padding: 7px 10px;
  border-bottom: 1px solid #e5e5e5;
  font-family: "Consolas", monospace;
}

.esri-feature-table tbody tr {
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.esri-feature-table tbody tr:hover {
  background-color: #e8f1fb;
}

.esri-feature-table tbody tr:last-child td {
  border-bottom: none;
}
